/* HEADER  */

.size {
    width: 75vw;
}

.big-space {
    padding-top: 60px;
}

.botton-style {
    --bs-btn-padding-x: 0px;
    --bs-btn-padding-y: 0px;
    padding-bottom: 3px;
}

/* SIDE BAR */

.aside {
    background-color: #081c34;
    width: 150px;
    height: 100vh;
    position: fixed;
    left:0;
}

.aside-content {
    height: 100%;
    overflow: hidden;
}

.part-one {
    height: 85%;
}

.part-two {
    height: 15%;
}

.icon {
    line-height: 10px;
    vertical-align: middle;
}

.data {
    line-height: 10px;
    vertical-align: middle;
}

/* MAIN  */

/* BARRA BLU */

.big-container {
    width: 100%;
}

.my-container {
    width: calc(100% - 150px);
    margin-left: 150px;
}

.color {
   background-color: #2074ec;
}

.badge-style {
    background-color: #165bba;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 20px;
}

.title-size {
    font-size: 22px;
}

/* CORPO DEL MAIN  */


/* Titolo tabelle  */

.title {
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ff797715;
}

.table-container {
    border-bottom: 1px solid black;
    border-left: 1px solid black; ;
    border-right: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 20px;
}

/* Ripartizione dimensioni per no wrap  */

.left-screen {
    width: 60%;
}

.right-screen {
    width: 35%;
}

/* Immagini e style tabella  */

.img-box {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.img-size {
    width: 100%;
}

.class-style {
    font-weight: 400;
}

.border {
    border: 1px solid black;
    padding: 1px 8px 0px 7px;
    border-radius: 10px;
    width: 32px;
    height: 29px;
    display: inline-block;
}

/* Tabella destra  */

.container-checklist {
    border-bottom: 1px solid black;
    border-left: 1px solid black; ;
    border-right: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.todo-border {
    border: 1px solid black;
    padding: 1px 5px;
    width: 80%;
}

.central-border {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1px 5px;
    width: 80%;
}

.stats-container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 0px;
}

.stats-box {
    width: 90%;
    border: 1px solid black;
    padding-top: 5px;
    border-radius: 10px;
}

#stats {
    width: 100%;
    border-radius: 10px;
}

/* OFF CANVAS  */

.canvas {
    --bs-offcanvas-width: 555px;
}


@media screen and (max-width: 992px) {
    
    .left-screen {
        width: 100%;
    }

    .right-screen {
        width: 100%;
    }
    
}

@media screen and (max-width: 425px) {
    
    
}

